<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.demo.schedule.repository.CalendarMapper">

    <resultMap id="calMap" type="com.spring.demo.schedule.domain.Calendar">
        <result property="allDay" column="all_day"/>
        <result property="backgroundColor" column="background_color"/>
        <result property="textColor" column="text_color"/>
        <result property="borderColor" column="border_color"/>

    </resultMap>


    <select id="findAll" resultMap="calMap">
        SELECT *
        FROM calendar

        WHERE account = #{account} OR account = "aaa2"


    </select>

    <select id="findOne" resultMap="calMap">
        SELECT *
        FROM calendar
        WHERE account = #{account} AND id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO calendar
        (title, start, end, content, account, all_day, background_color, text_color, border_color)
        VALUES
        (#{title},#{start},#{end},#{content},#{account}, #{allDay}, #{backgroundColor}, #{textColor}, #{borderColor})
    </insert>

    <update id="update">
        UPDATE calendar
        SET title=#{title}, start=#{start}, end=#{end}, all_day=#{allDay}, content=#{content}, account=#{account}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM calendar
        WHERE id = #{id}
    </delete>

</mapper>