<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.demo.schedule.repository.CalendarMapper">

    <resultMap id="calMap" type="com.spring.demo.schedule.domain.Calendar">
        <result property="allDay" column="all_day"/>

    </resultMap>


    <select id="findAll" resultMap="calMap">
        SELECT *
        FROM calendar
<!--        <if test="account != 'n'">-->
<!--        WHERE account = #{account}-->
<!--        </if>-->

    </select>

    <select id="findOne">
        SELECT *
        FROM calendar
        WHERE account = #{account}, id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO calendar
        (title, start, end, content, account)
        VALUES
        (#{title},#{start},#{end},#{content},#{account})
    </insert>

    <update id="update">
        UPDATE calendar
        SET title=#{title}, start=#{start}, end=#{end}, content=#{content}, account=#{account}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM calendar
        WHERE id = #{id}
    </delete>

</mapper>