<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.demo.like.repository.LikeMapper">


    <!-- 추천수 업데이트 -->
    <update id="updateLike">

        UPDATE
        <if test="type=='replyNo'">
            tbl_reply
        </if>
        <if test="type=='boardNo'">
            tbl_board
        </if>
        SET
        ike_cnt = (SELECT COUNT(*) FROM tbl_like WHERE
        <if test="type=='replyNo'">
            reply_no
        </if>
        <if test="type=='boardNo'">
            board_no
        </if>
        =1) WHERE
        <if test="type=='replyNo'">
            reply_no
        </if>
        <if test="type=='boardNo'">
            board_no
        </if>
        = #{no}


    </update>




    <!-- 추천수 조회  -->
    <select id="likeCnt" resultType="int">
        SELECT COUNT(*) FROM tbl_like
        WHERE
        <if test="type=='replyNo'">
            reply_no
        </if>
        <if test="type=='boardNo'">
            board_no
        </if>
        = #{no}

    </select>

    <!-- 추천 시 insert -->
    <insert id="insertLike">

        INSERT INTO tbl_like

        <if test="type=='replyNo'">
            (reply_no , account)
        </if>

        <if test="type=='boardNo'">
            (board_no , account)
        </if>
        VALUES
        (#{no}, #{account})


    </insert>

    <!-- 추천취소 시 delete -->
    <delete id="deleteLike">

        DELETE FROM tbl_like
        WHERE
        <if test="type=='replyNo'">
            reply_no
        </if>
        <if test="type=='boardNo'">
            board_no
        </if>
        = #{no}
        AND
        account = #{account}


    </delete>

    <!--추천이 이미 있는지 확인-->
    <select id="likeChk" resultType="int">

        SELECT COUNT(*) FROM tbl_like
        WHERE
        <if test="type=='replyNo'">
            reply_no
        </if>
        <if test="type=='boardNo'">
            board_no
        </if>
        = #{no}
        AND
        account = #{account}

    </select>

    <select id="findAccount" resultType="String">

        SELECT account FROM
        <if test="type=='replyNo'">
            tbl_reply
            WHERE
            reply_no
        </if>
        <if test="type=='boardNo'">
            tbl_board
            WHERE
            board_no
        </if>
        = #{no}

    </select>


</mapper>
