/* common */
.clear-fix:after{
    display: block;
    content: "";
    clear: both;
}


.header {
    position: sticky;
    top: 0;
    /* background: orange; */
    z-index: 100;
    width:100%;
    background-color: #6965c3;
    opacity: 0.729;
}

.header-wraper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header-wraper .header-top{
    font-size: 18px;
    /* background: yellow; */
    margin-left: 40px;
    margin-right: 40px;

    line-height: 60px;

}

.header-wraper .header-top .header-top-link {
    /* background: green; */
    float: left;
}
.header-wraper .header-top .header-top-link span{
    margin-right: 10px;
    cursor: pointer;
}

.header-wraper .header-top .header-top-account {
    /* background: skyblue; */
    float: right;
    vertical-align: center;
}

.header-wraper .header-top .header-top-account span {
    margin: 0 10px;
    cursor: pointer;
}
.header-wraper .header-top .header-top-account .accountContainer {
    /*float: right;*/
    position: relative;
}
.header-wraper .header-top .header-top-account .account{
    float: left;
}
.header-wraper .header-top .header-top-account .basket{
    float: left;
}
.header-wraper .header-top .header-top-account .basket .basketContainer{
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.header-wraper .header-top .header-top-account .basket .basketContainer .basketImg {
    float: left;
}
.header-wraper .header-top .header-top-account .basket .basketContainer .basketImg img{
    width: 40px;
    height: 40px;
}
.header-wraper .header-top .header-top-account .basket .basketContainer .basketCount {
    /*float: left;*/
    display: block;
    background-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    padding: 1px;
    text-align: center;



    position: relative;
    bottom: 90%;
    left: 40%;
}
.header-wraper .header-top .header-top-account .basket .basketContainer .basketCount span {
    /*position: relative;*/
    /*top: -360%;*/
    /*left: -10%;*/
}
.header-wraper .header-top .header-top-account .log{
    float: right;
}

.header-wraper .nav {
    /* background: rgb(202, 176, 218); */
    width:100%;
    position: relative;

}

.header-wraper .nav .nav-ul{
    /* background: red; */
    width:100%;

    position: relative;
    box-sizing: border-box;
    line-height: 60px;
}
.header-wraper .nav .nav-ul li{
    /* background: skyblue; */
    height: fit-content;
    padding-left: 2.8%;
    padding-right: 2.8%;
    position: relative;
    float: left;

    text-align: center;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;

}
.header-wraper .nav .nav-ul li a{
    text-align: center;
    width:auto;

}
.header-wraper .nav .nav-ul li a:hover{
    text-shadow: 3px 5px 5px gray;
}

.header-wraper .nav .nav-ul li:last-child {

    margin-right: 0;
}
.header-wraper .nav .nav-ul li:nth-child(4){
    margin-right: 15px;
}
/*.header-wraper .nav .nav-ul li:nth-child(6){
    height: 110px;
    width: 80px;
    margin-right: 15px;
    margin-top: -50px;
}*/

#header-logo{





    font-size: 30px;
}
