/* common */
.clear-fix:after{
    display: block;
    content: "";
    clear: both;
}


.header {
    position: sticky;
    top: 0;
    /* background: orange; */
    z-index: 100;
    width:100%;
    background-color: #6965c3;
    opacity: 0.729;
}

.header-wrraper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header-wrraper .header-top{
    font-size: 18px;
    /* background: yellow; */
    margin-left: 40px;
    margin-right: 40px;

    line-height: 60px;

}

.header-wrraper .header-top .header-top-link {
    /* background: green; */
    float: left;
}
.header-wrraper .header-top .header-top-link span{
    margin-right: 10px;
    cursor: pointer;
}

.header-wrraper .header-top .header-top-account {
    /* background: skyblue; */
    float: right;
    vertical-align: center;
}
.header-wrraper .header-top .header-top-account span {
    margin: 0 10px;
    cursor: pointer;
}

.header-wrraper .nav {
    /* background: rgb(202, 176, 218); */
    width:100%;
    position: relative;

}

.header-wrraper .nav .nav-ul{
    /* background: red; */
    width:100%;

    position: relative;
    box-sizing: border-box;
    line-height: 60px;
}
.header-wrraper .nav .nav-ul li{
    /* background: skyblue; */
    height: fit-content;
    padding-left: 2.9%;
    padding-right: 2.9%;
    position: relative;
    float: left;

    text-align: center;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;

}
.header-wrraper .nav .nav-ul li a{
    text-align: center;
    width:auto;

}
.header-wrraper .nav .nav-ul li a:hover{
    text-shadow: 3px 5px 5px gray;
}

.header-wrraper .nav .nav-ul li:last-child {

    margin-right: 0;
}
.header-wrraper .nav .nav-ul li:nth-child(4){
    margin-right: 15px;
}
/*.header-wrraper .nav .nav-ul li:nth-child(6){
    height: 110px;
    width: 80px;
    margin-right: 15px;
    margin-top: -50px;
}*/

#header-logo{





    font-size: 30px;
}
