/* common */
.clear-fix:after{
    display: block;
    content: "";
    clear: both;
}

.section-body {
    /* background: red; */

    width: inherit;

}

.section-body .main-photo{
    /* background: rgb(47, 209, 90); */
    height: 480px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 3px;
    /*background-color:*/
}
.section-body .main-photo #photo {
    height: 400px;
}

.section-body .main-photo #photo .photo-slider{
    background: rgb(220, 150, 150);
    width: 1200px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;

}
.section-body .main-photo #photo .photo-slider input[type=radio]{
    display: none;
}

.section-body .main-photo #photo .photo-slider ul.imgs{
    padding: 0;
    margin: 0;
}
.section-body .main-photo #photo .photo-slider ul.imgs li{
    position: absolute;
    left: 1200px;
    transition-delay: 0.3s;
    list-style: none;
    padding: 0;
    margin: 0;

}
.section-body .main-photo #photo .photo-slider ul.imgs li img{
    width: 1200px;
    height: 400px;
    object-fit: scale-down;

}

.section-body .main-photo #photo .photo-slider .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 2;
}
.section-body .main-photo #photo .photo-slider .bullets label{
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.205);
    width: 60px;
    height: 12px;
    cursor: pointer;
}

.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: rgba(207, 207, 207, 0.443);
}
.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: rgba(207, 207, 207, 0.443);
}
.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: rgba(207, 207, 207, 0.443);
}
.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: rgba(207, 207, 207, 0.443);
}

.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.3s;
    z-index:1;
}
.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.3s;
    z-index:1;
}
.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.3s;
    z-index:1;
}
.section-body .main-photo #photo .photo-slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.3s;
    z-index:1;
}



.section-body .main-photo #photo-bottom{
    background: rgb(93, 110, 232);
    height: 80px;
}
#photo-bottom{
text-align: center;

}
.section-body .main-album {
    /* background: orange; */
    width: 1200px;
    height: 300px;

    margin: 0 auto;


}


/* INPUT 가리기 */
.album-slide [id*="slide"] {
    display:none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.album-slide .slidewrap {
    max-width:1100px;
    height: 300px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
.album-slide .slidelist {
    white-space:nowrap;
    font-size:0;
}
.album-slide .slidelist > li {
    display:inline-block;
    /* vertical-align:middle; */
    width: 200px;
    height: 200px;
    transition:all .5s;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 85px;
    margin-left: 10px;
}
.album-slide .slidelist > li > a {
    display:block;
    position:relative;
    cursor: pointer;
}
.album-slide .slidelist > li > a > img {
    width: 200px;
    height: 200px;
}
.album-slide .slidelist > li:hover{
    animation: select  0.2s linear forwards
}
@keyframes select {
    100%{
        box-shadow: 0px 10px 10px 0px plum;
    }
}
.album-slide .slidelist > li:active {
    animation: selected 5ms linear forwards;
}
@keyframes selected {
    100% { scale: 0.95;}
}
/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.album-slide .slide-control {

    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:0px;
}
.album-slide .slide-control label {
    position:absolute;
    z-index:1;

    transform:translateY(100%);
    padding:50px;
    cursor:pointer;
}
.album-slide .slide-control .left {
    left:-30px;
    background:url('../img/left.png') center center / 100% no-repeat;
}
.album-slide .slide-control .right {
    right:-30px;
    background:url('../img/right.png') center center / 100% no-repeat;
}
.album-slide .slide-control [class*="control"] {
    display:none;
}

/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
.album-slide [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(0%);
}
.album-slide [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-147%);
}
.album-slide [id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-294%);
}
.album-slide [id="slide04"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-441%);
}


/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
.album-slide [id="slide01"]:checked ~ .slidewrap .control01 {
    display:block;
}
.album-slide [id="slide02"]:checked ~ .slidewrap .control02 {
    display:block;
}
.album-slide [id="slide03"]:checked ~ .slidewrap .control03 {
    display:block;
}
.album-slide [id="slide04"]:checked ~ .slidewrap .control04 {
    display:block;
}

.left:hover { scale: 1.1;}
.left:active {scale: 1;}
.right:hover {scale: 1.1;}
.right:active {scale: 1;}


.section-body .main-menu{
    /* background: rgb(243, 243, 24); */
    height: 600px;
    width: 1200px;

    margin: 0 auto;

}
.section-body .main-menu .menubox{
    position: relative;
    box-sizing: border-box;
}
.section-body .main-menu .menubox div{
    background: rgb(213, 211, 211);

    float: left;

    height: 300px;
    width: 300px;
    /* border: 1px solid #000; */
    cursor:pointer;

    z-index: 3;
}
.menubox img{
white:300px;
height:300px;
}
.section-body .main-menu .menubox div:hover{
    animation: pointer 0.3s linear forwards
}
@keyframes pointer {
    100%{
        scale: 1.05;
        box-shadow:  5px 5px 10px 20px  #6965c3;
    }
}
.section-body .main-menu .menubox div:active{
    animation: click 0.3s linear forwards
}
@keyframes click {
    100% {
        scale: 1;

    }
}
.wrap{
    background-color: #282828;
}