<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.demo.member.repository.MemberMapper">

    <resultMap id="memberMap" type="com.spring.demo.member.domain.Member">
        <result column="reg_date" property="regDate" />
        <result column="phone_num" property="phoneNum"/>

    </resultMap>

    <!-- 회원 가입 기능   -->
    <insert id="register">
        INSERT INTO tbl_user
        (account, password, favorite, nickname, name, phone_num, birth, address, email, gender)
        VALUES
        (#{account}, #{password}, #{favorite}, #{nickname}, #{name}, #{phoneNum}, #{birth}, #{address}, #{email}, #{gender})
    </insert>

    <!-- 중복체크 기능 (아이디, 이메일, 전화번호)   -->
    <select id="isDuplicate" resultType="int">

        SELECT COUNT(*)
        FROM tbl_user
        <if test="type=='account'">
            WHERE account = #{value}
        </if>
        <if test="type=='email'">
            WHERE email = #{value}
        </if>
        <if test="type==phoneNum">
            WHERE phone_num = #{value}
        </if>

    </select>
    <!-- 회원 조회 기능   -->
    <select id="findUser" resultMap="memberMap">

        SELECT *
        FROM tbl_user
        WHERE account = #{account}

    </select>




    <update id="saveAutoLoginValue">

        UPDATE tbl_member
        SET session_id = #{sessionId}, limit_time = #{limitTime}
        WHERE account = #{account}

    </update>

    <select id="findMemberBySessionId" resultMap="memberMap">

        SELECT * FROM tbl_member
        WHERE session_id = #{sessionId}

    </select>





</mapper>
