<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.demo.shop.repository.ShopSoldMapper">

    <resultMap id="shopSoldMap" type="com.spring.demo.shop.domain.ShopSold">
        <result property="regDate" column="reg_date"/>
        <result property="goodsId" column="goods_id"/>
        <result property="deliveryAddress" column="delivery_address"/>
        <result property="purchaseComplete" column="purchase_complete"/>
        <result property="purchaseAccount" column="purchase_account"/>
        <result property="totalPrice" column="total_price"/>
    </resultMap>


    <insert id="insert" >
        INSERT INTO shop_sold
            (goods_id, purchase_account, recipient, delivery_address, purchase_complete, count, price, total_price)
        VALUES (#{goodsId}, #{purchaseAccount}, #{recipient}, #{deliveryAddress}, #{purchaseComplete}, #{count}, #{price}, #{totalPrice})
    </insert>

    <select id="findAllCount" resultType="int">
        SELECT COUNT(*)
        FROM shop_sold
        WHERE purchase_account = #{account} AND purchase_complete = "BASKET"
    </select>

    <select id="findAll2" resultMap="shopSoldMap">
        SELECT *
        FROM shop_sold
        WHERE purchase_account = #{account} AND purchase_complete = "BASKET"
    </select>

    <select id="findOne" resultMap="shopSoldMap">
        SELECT *
        FROM shop_sold
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE shop_sold
        SET purchase_complete = #{purchaseComplete}, recipient = #{recipient}, delivery_address = #{deliveryAddress}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM shop_sold
        WHERE purchase_account = #{account} AND purchase_complete = "BASKET"
    </delete>

</mapper>